* {
    margin: 0;
    padding: 0;
}
body {
    font: 400 16px/1.5 'Hind', sans-serif;
    color: #565655;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #bd2631;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
/*    BLOCK1   */
.contacts-information {
    background: #ededed;
    padding: 13px 100px;
}
.address {
    float: left;
}
.address div {
    display: inline-block;
    margin-right: 15px;
}
.icons {
    float: right;
    margin-top: 5px;
}
.icons ul li {
    margin-left: 20px;
}
.fa-phone,
.fa-location-arrow {
    color: #000;
}
.city {
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 6px 16px;
    margin-left: 35px;
}
.fa-angle-down {
    margin-left: 15px;
    font-size: 18px;
}
/****   BLOCK2   */
.logo {
    padding: 0px 100px;
    background: #fff;
    height: auto;
}
.logo1 {
    float: left;
}
.static {
    float: right;
    margin-top: 40px;
}
.title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.static li p:first-of-type {
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;
}
.static li p:last-of-type {
    display: inline-block;
}
.static p > span {
    display: block;
}
.static ul li {
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
}
.static ul li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}
/*  BLOCK3  */
.mobile-menu {
    color: white;
    font-size: 24px;
    margin-top: 18px;
    display: none;
    cursor: pointer;
}
.navigation {
    background: #000000;
    padding: 0 100px;
    height:auto;
}
.navigation nav {
    float: left;
}
nav li a {
    color: #fff;
    font-size: 16px;
    padding: 24px 16px 19px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
nav li a:before {
    content: '';
    position: absolute;
    height: 9px;
    width: 0;
    bottom: 0;
    background: red;
    left: 0;
}
nav li a:hover:before {
    width: 100%;
}
.home {
    margin-left: 25px;
}
.search {
    float: right;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
    cursor: pointer;
}
/*      Images block */
.pictures {
    display: inline-block;
}
h2 {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    color: #bd2631;
}
h4 {
    font-size: 14px;
    color: white;
    padding: 0px 60px;
}
.photo1{
    display: inline-block;
    width: 100%;
    height: 440px;
}
.firstbl {
    background: url("img/1_1.png") repeat-x, #000;
    float: left;
    height: 454px;
    width: 50%;
}
.images1 {
    display: inline-block;
    width: 50%;
    float: left;
}
.img2 {
    width: 50%;
    float: left;
    height: 454px;
}
.img3 {
    background: white;
    width: 50%;
    float: left;
    text-align: center;
    height: 254px;
    padding-top: 147px;
}
.photo2 {
    display: inline-block;
    width: 100%;
    height: 440px;
}
.images2 {
    display: inline-block;
    width: 50%;
    float: left;
}
.img4 {
    float: left;
    width: 50%;
    display: inline-block;
}
.img5 {
    background: white;
    width: 50%;
    text-align: center;
    float: left;
    height: 254px;
    padding-top: 147px;
}
.secondbl {
    background: url("img/7_1.png") repeat-x, #000;
    float: right;
    height: 454px;
    width: 50%;
}
.photo3 {
    display: inline-block;
    width: 100%;
}
.thirdbl {
    background: url("img/8_1.png") repeat-x, #000;
    float: left;
    height: 454px;
    width: 50%;
}
.images3 {
    display: inline-block;
    width: 50%;
    float: right;
}
.img8 {
    background: #bf232c;
    width: 50%;
    text-align: center;
    float: left;
    padding-top: 142px;
    padding-bottom: 140px;
}
.img9 {
    float: left;
    width: 50%;
}
@media screen and (max-width: 1107px){
    .address div{
        display: block;
        margin-bottom: 10px;
    }
    .city{
        width: 120px;
    }
    .logo{
        text-align: left;
    }
    .static  ul li{
        text-align: left;
    }
    .block{
        padding-right: 60px;
        padding-left: 60px;
    }
    nav li a{
        padding: 24px 10px 16px;
        font-size: 14px;
    }
}
@media screen and (max-width: 941px) {
    .logo1 {
        float: none;
    }
    .logo{
        text-align: center;
    }
    .static{
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 0;
    }
}

@media screen and (max-width: 863px) {
    .logo1 {
        width: 100%;
        height: auto;
    }
    .address,
    .icons{
        float: none;
        width: 100%;
    }
    .contacts-information{
        text-align: center;
    }
    .address .city{
        margin: 0 auto 10px;
    }
    .firstbl {
        width: 100%;
        height: 445px;
    }
    .secondbl {
        width: 100%;
        height: 455px;
    }
    .thirdbl {
        width: 100%;
    }
    .images1 {
        float:inherit ;
        width: 100%;
        height: 445px;
    }
    .images2 {
        width: 100%;
        height: 445px;
    }
    .images3 {
        float:left;
        width: 100%;
    }
}
@media screen and (max-width: 714px) {
    .photo3 {
        margin-top: 450px;
    }
}
@media screen and (max-width: 704px) {
    .navigation nav{
        position: relative;
        width: 50%;
    }
    .logo1{
        width: 100%;
    }
    #menu{
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        background: #000;
        right: 0;
        z-index: 9999999;
    }
    #menu li{
        display: block;
    }
    #menu li a{
        padding: 15px 10px 10px;
    }
    .mobile-menu{
        display: block;
    }
}
@media screen and (max-width: 645px) {
    .logo1{
        width: 80%;
        height: auto;
    }
    .static ul li{
        margin: 0 0 10px 0;
        padding: 0;
        border: none;
    }
    .address{
        width: 100%;
    }
    .block {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media screen and (max-width: 413px) {
    .logo1{
        width: 100px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .img{
        width: 320px;
    }
    .static ul li {
        display: block;
    }
}
@media screen and (max-width: 370px) {
    .logo1{
        width: 100px;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0;
        margin-right: 0;
    }
    .img{
        width: 280px;
    }

}