* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.head {
    display: inline-block;
    width: 100%;
    height: 60px;
    background: #ededed;
}
.phila {
    padding-left: 8.156%;
    width: 10%;
    height: 50%;
    margin-left:30px;
    margin-top:10px;
    float:left;
    color: white;
}
.phila1 {
    color: white;
    background: black;
    border-radius: 3px;
    padding: 10px 20px 8px 10px;
}
.number{
    width: 200px;
    height: 20px;
    float:left;
    color: #565655;
    margin-left:40px;
    font-family: sans-serif;
    font-style: normal;
    font-size: smaller;
    margin-top:15px;
padding-top: 10px;
    padding-bottom: 9px;
}
.location {
    float:left;
    width: 350px;
    height: 20px;
    margin-top:15px;
    color: #565655;
    margin-left:-15px;
    font-family: sans-serif;
    font-style: normal;
    font-size: smaller;
    padding-top: 10px;
    padding-right: 30px;
}
.mail {
    margin-top:20px;
    margin-right: 10px;
    padding-left:100px;
    float:left;
}
.youtube {
    margin-top:20px;
    float:left;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 20px;
}
.google {
    margin-top:20px;
    float:left;
    margin-left: 1px;
}
.linkedin {
    margin-top:20px;
    float:left;
    margin-left: 20px;
}
.twitter {
    overflow: hidden;
    text-decoration: none;
    margin-top:20px;
    float:left;
    margin-left: 24px;
}
.icons{
    text-decoration: none;
    margin-left: 100px;
    padding-left: 10px;
}
.icons a{
    color: #2e2e2e;
}
.fa-envelope:hover {
    color: #bc2732;
}
.fa-youtube:hover {
    color: #bc2732;
}
.fa-google-plus:hover {
    color: #bc2732;
}
.fa-linkedin:hover {
    color: #bc2732;
}
.fa-twitter:hover{
    color: #bc2732;
}



.logo {
    display: inline-block;
    padding: 0px 100px;
    background: #fff;
    height: 125px;
    float: right;
}
.img {
    display: inline-block;
    width: 15%;
    height: 20px;
}
.static {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-left: 345px;
}
.title {
    display: inline-block;
    margin-top: 38px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    float: right;
}
.fa-check-circle-o {
    display: inline-block;
    margin-top:38px;
}
.static li p:first-of-type {
    display: inline-block;
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;
}

.static li p:last-of-type {
    display: inline-block;
}

.static p > span {
    display: block;
}

.static ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 0px;
    border-right: 1px solid #e6e6e6;
    margin-right: 20px;
}

.static ul li:last-of-type {
    display: inline-block;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

p {
    display: inline-block;
}
div {
    display: inline-block;

}




.block{
    display: inline-block;
    width: 99%;
}
.menu
{
    position: absolute;
    width: 97%;
    display: inline-block;
    height: 70px;
    color:white;
    background: black;
    z-index: 99;
    padding: 0px 19px 5px;
   }
a {
    text-decoration: none;
    color: white;
}
.home1{
    margin-left: 122px;
}
.home{
    float: left;
    padding: 0px;
    padding-right: 30px;
    margin-top: 30px;
}
.home a:hover {
    border-bottom: solid;
    border-color: red;
    padding-bottom: 20px;
    border-width: 8px;
    position: relative;
}
.search {
    float:right;
    position: absolute;
    padding-top: 27px;
    padding-left: 29.5%;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.fa-search{
    text-decoration: none;
    color: white;
}
.fa-search:hover {
    border-bottom: solid;
    border-color: red;
    padding-bottom: 20px;
    border-width: 8px;
    position: relative;
}
 a {
    text-decoration: none;
    color: white;
}



.picture{
    display: inline-block;
    float: left;
    padding-bottom: 50px;
    position: absolute;
}
.firstbl{
    background-image: url("img/1_1.png");
    float: left;
    height: 454px;
}

h2{
    margin-top: 170px;
    color: #bd2631;
    padding-left: 100px;
}
h4{
    color: black;
    padding-left: 50px;
   padding-top: 20px;
}
.secondbl{
    background-image: url("img/7_1.png");
    float: right;
    height: 454px;
    position: absolute;
}
.thirdbl{
    background-image: url("img/8_1.png");
    float: left;
    height: 454px;
    padding-right: 12px;
}
.picture1{
    background-color:#ffffff;
    float: right;
    position: absolute;
    padding-top: 24px ;
}
.picture2{
    background-color:#ffffff;
    padding-top: 4px;
}
.picture3{
    background-color:#bd2631;
    float: left;
    color: white;
    padding: 144px 90px;
}
.picture4{
    float: left;
}
@media screen and (max-width: 1338px) {

    .picture1{
        float: none;
    }
    .secondbl{
        float: none;
    }

}

@media screen and (max-width: 1270px) {
    .phila{
        margin: 0;
        margin-top:10px;
        padding-left: 30px;
    }
    .phila1{
        padding-right: 15px;
    }
    .icons{
        float: right;
        margin-left: 0px;
        padding-right: 10px;
    }
    .home{
        width:  85%;
        padding-right: 10px;
    }
    .search{
        padding-right: 2px;
        padding-left: 20px;
        margin-left: 70px;
    }
    .picture1{
        float: none;
    }
}

@media screen and (max-width: 1200px) {
    .phila {
        margin: 0;
        margin-top: 10px;
        padding-left: 20px;
    }

    .phila1 {
        padding-left: 2px;
        padding-right: 15px;
    }

    .number {
        margin-left: 10px;
    }

    .location {
        margin-left: 0px;
    }

    .icons {
        float: none;
        margin-left: 10px;

    }
    .img{

        width: 100%;
    }
    .static{
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        float: left;
        text-align: center;
    }
.block{
    margin-top: 130px;
}
    .home{

        padding-right: 10px;
    }
    .search{
        padding-right: 2px;
        padding-left: 20px;
        margin-left: 70px;
    }
.home1{
    margin-left: 20px;
}


}
    @media screen and (max-width: 1007px) {
        .head{
           width:  70%
        }
        .phila {
            display: block;
            width: auto;
        }

        .phila1 {
            padding-right: 5px;
        }

        .icons {
            margin: 0;
            float: none;
        }

        .img {
            float: none;
            width: 100%;
        }

        .number {
            display: block;
        }

        .location {
            text-align: left;
        }

        .static {
            display: inline-block;
        }


    }
        @media screen and (max-width: 996px) {
            .head{
                width: 70%;
            }
            .number{
                position: absolute;
                text-align: left;
                margin-top: 50px;
            }
            .location{
                position: absolute;
                margin-left: 50px;
                text-align: left;
                margin-top: 50px;
            }
            .icons{
                float: right;
                position: fixed;
                text-align: center;
            }
            .menu{
                width:70%;
            }

    }
@media screen and (max-width: 760px) {
.head{
    width: 40%;
}
    .phila{
        width: 50%;
    }
.menu{
    width: 40%;
}
}
@media screen and (max-width: 560px) {
    .head{
        width: 40%;
    }
    .phila{
        width: 100%;
    }


}

/*
.slider-item{
    background: url("") no-repeat center right  ;
    height: 600px;
}

.slider-content{
    background: rgba(0,0,0.7);
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    left: 0;
}
.arrows{
    position: absolute;
    top:50%;
    color:#fff;
    font-size: 40px;
    z-index: 99;
}
.arrow-left{
    left:20px;
}
.arrow-right{
    right: 20px;
}
.slider-content{
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    padding: 0 100px;
}
.slider-content h2{
    color:red ;
}
.slider-content h1{
   font-size: 30px;
}
.slider-content p{

}
.text{
    top:50%;
    padding: 0 80px;
    position: absolute;
}
.navigation{
    background: rgba(0,0,0.6);
    padding: 0 100px;
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
}
